site_name: Technical Advisory Council
repo_name: openwallet-foundation/tac
repo_url: https://github.com/openwallet-foundation/tac
edit_uri: edit/main/docs
copyright: "Copyright &copy; OpenWallet Foundation<br/>License: CC BY 4.0"
theme:
  name: material
  logo: assets/project-logo.png
  favicon: assets/project-icon.png
  icon:
    repo: fontawesome/brands/github
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
  - content.code.copy
  - content.action.view
  - navigation.expand
  - navigation.footer
  - navigation.indexes
  - navigation.instant
  - navigation.instant.prefetch
  - navigation.path
  - navigation.sections
  - navigation.tabs
  - navigation.tabs.sticky
  - navigation.top
  - navigation.tracking
  - search.highlight
  - search.suggest
  - toc.follow
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
      toc_depth: 3
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:materialx.emoji.to_svg
      emoji_index: !!python/name:materialx.emoji.twemoji
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/openwallet-foundation
    - icon: fontawesome/solid/flask-vial
      link: https://github.com/openwallet-foundation-labs
    - icon: fontawesome/brands/discord
      link: https://discord.gg/openwalletfoundation
    - icon: fontawesome/solid/envelope
      link: https://lists.openwallet.foundation
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/OpenWallet_Fdn
    - icon: fontawesome/solid/globe
      link: https://openwallet.foundation
nav:
  - Home: index.md
  - Governing Documents: governance/index.md
  - Meetings:
    - meetings/index.md
    - 2023-09-06: meetings/2023/2023-09-06.md
    - 2023-08-23: meetings/2023/2023-08-23.md
    - 2023-08-09: meetings/2023/2023-08-09.md
    - 2023-07-26: meetings/2023/2023-07-26.md
    - 2023-07-12: meetings/2023/2023-07-12.md
    - 2023-06-28: meetings/2023/2023-06-28.md
    - 2023-06-14: meetings/2023/2023-06-14.md
    - 2023-05-31: meetings/2023/2023-05-31.md
    - 2023-05-17: meetings/2023/2023-05-17.md
    - 2023-05-03: meetings/2023/2023-05-03.md
    - 2023-04-19: meetings/2023/2023-04-19.md
    - 2023-04-05: meetings/2023/2023-04-05.md
    - 2023-03-22: meetings/2023/2023-03-22.md
    - 2023-03-08: meetings/2023/2023-03-08.md
  - Projects:
    - projects/index.md
    - Farmworker Wallet OS: projects/fwos.md
    - SD-JWT Kotlin: projects/sd-jwt-kotlin.md
    - SD-JWT Python: projects/sd-jwt-python.md
  - Special Interest Groups:
    - SIGs/index.md
    - Architecture: SIGs/architecture.md
    - Credential Format Comparison: SIGs/credential-format-comparison.md
    - Digital Wallet and Agent Overviews: SIGs/digital-wallet-and-agent-overviews.md
    - Safe Wallet: SIGs/safe-wallet.md
  - Task Forces:
    - task-forces/index.md
    - OID4VC Due Diligence: task-forces/OID4VC-due-diligence.md
